/* style.css */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('https://as2.ftcdn.net/v2/jpg/03/29/57/63/1000_F_329576340_zBRuVjvHWe9zgh2b2C5fwQNITE8oGsv5.jpg'); /* Pfad zum Bild */
    background-size: canvas; /* Hintergrundbild an Bildschirmgröße anpassen */
    background-position: center; /* Hintergrundbild zentrieren */
    background-repeat: no-repeat; /* Wiederholung des Hintergrundbildes verhindern */
    background-attachment: fixed; /* Hintergrundbild bleibt beim Scrollen fixiert */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Hinter den anderen Inhalten anzeigen */
}

header {
    background-color: rgba(185, 175, 164, 0.8); /* Halbtransparentes Grün */
    color: white;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 0.5em;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

main {
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8); /* Halbtransparentes Weiß für bessere Lesbarkeit */
}

footer {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
